html {
    box-sizing:border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}

.heading {
    background-color: #494D5F;
    color: #e5eaf5;
    font-family: Arial Sans-serif;
    text-align: center;
    padding: 1rem;
}

body {
    background-color: #a0d2eb;
}

.recipe-list {
    border: #845bb3 solid 2px;
    background-color: #845bb34f;
    width: 50vw;
    margin: 1rem auto;
    padding: 1rem;
}

.recipe-list li {
    text-align: center;
    list-style: none;
    border: black inset 2px;
    margin: 1rem;
    padding: 0.4em;
}

.recipe-list a {
    color: inherit;
    font-family: Georgia, 'times new roman', monospace;
    font-size:1rem;
    text-decoration: none;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
}

div {
    width: 100vw;
    margin: 1rem auto;
    border: black solid 1px;
    padding: 1rem;
}